# --- Airflow (docker-compose) ---
airflow-docker/logs/
airflow-docker/.env
airflow-docker/config/airflow.cfg
airflow-docker/airflow.sh
airflow-docker/**/__pycache__/
airflow-docker/**/*.pyc

# --- Python ---
.venv/
__pycache__/
*.py[cod]

# --- Data ---
*.xml
*.bz2


.env
raw_data/
staging/
*.pyc
.pytest_cache/
dbt/**/target/
dbt/**/dbt_packages/
dbt/**/logs/
NOTES.md.bak